<mat-card class="example-card">
    <mat-card-header>
        <img mat-card-avatar src="https://www.gravatar.com/avatar/{{emailHash}}?d=wavatar" class="example-header-image">
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item> <mat-icon aria-hidden="false">location_city</mat-icon>Ciudad: {{user.address.city}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><mat-icon aria-hidden="false">work</mat-icon>
                Nombre de la compañía: {{user.company.name}}</mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
        <mat-card-title></mat-card-title>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary">Ver más</button>
        <button mat-stroked-button color="accent">Contactar</button>
    </mat-card-actions>
</mat-card>